{% extends "bootstrap/base.html" %}
{%block html%}
{{ super() }}
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
<br>
<div align="center" class="container-fluid">
    <a class="btn btn-danger btn-lg btn-block" href="#" role="button">Update</a>
</div>
<br>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-bordered table-hover ">
            {% for sublist in countries %}
            {% if loop.index0 == 0 %}
                <tr>
                    <th>Country</th>
                    <th>Total Cases</th>
                    <th>New Cases</th>
                    <th>Total Deaths</th>
                    <th>New Deaths</th>
                    <th>Total Recovered</th>
                    <th>Active Cases</th>
                    <th>Serious Cases</th>
                    <th>Total Cases/1M pop</th>
                </tr>
            {%else%}
                <tr>
                    {% for element in sublist %}
                        <td>{{element}}</td>
                    {% endfor %}
                </tr>
            {%endif%}
        {% endfor %}
        </table>
    </div>
    <br>
    <a href = "/">Go back to home page</a>
</div>
</body>
{%endblock%}

<!--{% for sublist in countries %}-->
<!--    {% if loop.index0 == 0 %}-->
<!--        <tr>-->
<!--            {% for element in sublist%}-->
<!--                <th>{{element}}</th>-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--    {%else%}-->
<!--        <tr>-->
<!--            {% for element in sublist %}-->
<!--                <td>{{element}}</td>-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--    {%endif%}-->
<!--{% endfor %}-->


<!--{{table}}-->
<!--<table border="1">-->
<!--    {% for sublist in countries[0] %}-->
<!--    <th>{{sublist}}</th>-->
<!--    {% endfor %}-->
<!--        {% for sublist in countries[1:] %}-->
<!--            <tr>-->
<!--                {% for element in sublist %}-->
<!--                <td>{{element}}</td>-->
<!--                {% endfor %}-->
<!--            </tr>-->
<!--        {% endfor %}-->
<!--{% for sublist in countries%}-->

<!--{% endfor %}-->

<!--</table>-->





<!--<table border = 1>-->
<!--    <thead>-->
<!--        <tr>-->
<!--            <th>Country</th>-->
<!--            <th>Total Cases</th>-->
<!--            <th>New Cases</th>-->
<!--            <th>Total Deaths</th>-->
<!--            <th>New Deaths</th>-->
<!--            <th>Total Recovered</th>-->
<!--            <th>Active Cases</th>-->
<!--            <th>Serious Cases</th>-->
<!--            <th>Total Cases/1M pop</th>-->
<!--        </tr>-->
<!--     </thead>-->
<!--         <tr>-->
<!--             <td></td>-->
<!--             <td></td>-->
<!--             <td></td>-->
<!--             <td></td>-->
<!--         </tr>-->
<!-- </table>-->